main{
    margin: 16px;
    text-align: center;
}

#cover-pic{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    
}

#desc-wrapper{
    width: 100%;
    max-width: 800px;
    min-width: 400px;
    margin: 0 auto;
}

 h3 {
    font-size: 50px;
    text-align: center;
}

